<div style="text-align:center ;">
    Entry the Category: <input type="text" [(ngModel)]="category">
    <br/>
    <button style="margin: 20px;" (click)=getProductByCategory()>
      Submit
    </button>
  </div>

<h2 style="text-align: center;">Product Details</h2>
<hr>
<section *ngIf= " category=='' " style="text-align: center;" >
    <div *ngFor="let p of productArr" class="productDiv"> 
        <span><b style="color:royalblue;">{{p.pname}}</b></span>
        <span> {{p.category}}</span>
        <span> {{p.price}}/piece</span>
        <span> Qty: {{p.qty}}</span>
    </div>
</section>
<section *ngIf= " category!='' " style="text-align: center;" >
    <div *ngFor="let p of productArrByCategory" class="productDiv"> 
        <span><b style="color:royalblue;">{{p.pname}}</b></span>
        <span> {{p.category}}</span>
        <span> {{p.price}}/piece</span>
        <span> Qty: {{p.qty}}</span>
        <!-- <a href="javascript:void(0);" (click)=delete_click(p.pid)><img style="width: 20px;height: 20px;margin: 10px;" src="../assets/delete.png" alt="Delete"></a> -->
    </div>
</section>

