<div class="mainDiv">
<div class="mainHeader">
    &nbsp;&nbsp;Sorting Option:
    <br/>
    <a href="javascript:void(0)" (click)=sortByEmpId_click() >By Employee ID</a>
    <a href="javascript:void(0)"  (click)=sortByName_click() >By Employee Name</a>
    <a href="javascript:void(0) " (click)=sortByJob_click()   >By Job</a>
    <a href="javascript:void(0) " (click)=sortBySal_click() >By Salary</a>
    <a href="javascript:void(0) "(click)=sortByDeptno_click()>By Department Number</a>
</div>
<h2 style="text-align: center;">Employee Details</h2>
</div>