<h3 style="text-align: center;"><i>Employee Details </i></h3>
<hr>
<div style="text-align: center; margin-bottom: 20px;">
Select the Field: <select [(ngModel)]="field">
    <option value="deptno">Department Number</option>
    <option value="sal">Salary</option>
</select>
Minimum Value :  <input type="number" [(ngModel)]="min">
Maximum Value :  <input type="number" [(ngModel)]="max">
<button (click) = "getData_click()"> Get Data</button>
</div>
<table>
    <tr>
        <th>Sr No.</th>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Salary</th>
        <th>Job</th>
        <th>Department Number</th>
        
    </tr>
    <tr *ngFor="let emp of empData| range :sField: sMin : sMax;let i=index;">
        <td>{{i+1}}</td>
        <td>{{emp.empno}}</td>
        <td>{{emp.ename | titlecase}}</td>
        <td>{{emp.sal}}</td>
        <td>{{emp.job | uppercase}}</td>
        <td>{{emp.deptno}}</td>
    </tr>
</table>